



//colors
$color-primary: hsl(0, 93%, 68%);
$color-primary-light:hsl(0, 36%, 70%);

$dark-grayish-red: hsl(0, 6%, 24%);


//grid
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$grid-width: 114rem;

//font
$default-font-size: 1.6rem;

//box-shadows
//$box-shadow-subtle: 0 1.5rem 4rem rgba($color-black, .15);